# ==========================================
#          SERVER ENGINE NETWORKING
# ==========================================
PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:5173

# ==========================================
#         DATABASE CONFIGURATION
# ==========================================
MONGO_URI=mongodb://127.0.0.1:27017/green-valley-foundation

# ==========================================
#         JWT SECURITY ENCRYPTION KEYS
# ==========================================
JWT_SECRET=your_jwt_secret_key_here_make_it_long_and_random
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key_here_also_long
JWT_EXPIRE=15m
JWT_REFRESH_EXPIRE=7d

# ==========================================
#       CLOUDINARY CLOUD STORAGE CONFIG
# ==========================================
CLOUDINARY_CLOUD_NAME=djfow8d5f
CLOUDINARY_API_KEY=451467784592966
CLOUDINARY_API_SECRET=QZVb_-tDd-wTmcBHxCCKNshoWbU